@import 'Colours';

//
//
// Plain Styling - https://material-ui.com/guides/interoperability/#plain-css
//
//

body {
    text-align: center;
    color: $colour-text;
    background-color: $colour-background;
}

a {
    color: $colour-text-secondary;
    text-decoration: none;
    -o-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;

    &:hover {
        color: white;
    }
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circleImg {
    height: 3em;
    border-radius: 50%;
}

//
//
// Global MUI Styling - https://material-ui.com/guides/interoperability/#global-css
//
//

.MuiRadio-colorSecondary {
    color: $colour-outline;
}

.material-icons, .MuiRadio-colorSecondary.Mui-checked {
    color: $colour-highlight;
}

.MuiInput-input[type="text"] {
    color: $colour-text;
}

.MuiFormLabel-root {
    color: $colour-outline;
}
