@import './Colours.scss';

//
//
// Plain Styling - https://material-ui.com/guides/interoperability/#plain-css
//
//

body {
    text-align: center;
    color: $colour-text;
    background-color: $colour-background;
}

a {
    color: $colour-text-secondary;
    text-decoration: none;
    -o-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}
a:hover {
    color: white;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.launchPatch {
    width: 10em;
}

// TODO: Move into Home.scss, move scss files to be next to relevant jsx files.
.invite {
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgb(88,101,242);
    background: linear-gradient(90deg, rgba(88,101,242,1) 0%, rgba(235,69,158,1) 100%);
    transition: background 0.5s ease;

    border-radius: 0.5em;

    width: 15em;
    margin: auto;
    height: 3.5em;

    img {
        height: 3em;
        //margin-right: 1em;
    }
}
.invite:hover {
    cursor: pointer;
    // TODO: Nice gradient transition.
    background: linear-gradient(90deg, rgba(235,69,158,1) 0%, rgba(88,101,242,1) 100%);
}

//
//
// Global MUI Styling - https://material-ui.com/guides/interoperability/#global-css
//
//

.MuiRadio-colorSecondary {
    color: $colour-outline;
}

.material-icons, .MuiRadio-colorSecondary.Mui-checked {
    color: $colour-highlight;
}

.MuiInput-input[type="text"] {
    color: $colour-text;
}

.MuiFormLabel-root {
    color: $colour-outline;
}
