@import 'vars';

//
//
// Plain Styling - https://material-ui.com/guides/interoperability/#plain-css
//
//

body {
    text-align: center;
    color: $colour-text;
    background-color: $colour-background;
}

a {
    color: $colour-text-secondary;
    text-decoration: none;
    -o-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;

    &:hover {
        color: white;
    }
}

.circleImg {
    height: 3em;
    border-radius: 50%;
}

//
//
// Global MUI Styling - https://material-ui.com/guides/interoperability/#global-css
//
//

.MuiButton-root {
    color: $colour-text;
    background-color: $colour-button;

    &:hover {
        background-color: $colour-button-hover;
    }
}
