@import 'vars';

.commandsTable {
  max-width: 75%;
  background-color: $colour-background-secondary;
  border-radius: 0.5em;
  margin: auto;

  .MuiTableCell-root {
    color: $colour-text;
    border-color: $colour-outline;
  }
  .MuiTableCell-head{
    color: $colour-text-secondary;
    font-weight: bold;
    font-size: 1.2em;
  }
}

@media (max-width: $mui-breakpoint-sm) {
  .commandsTable {
    max-width: 95%;
  }
}
