@import 'vars';

.feature {
  width: 100%;
  text-align: left;
  margin-right: 2em;

  .featureHeader {
    display: flex;
    justify-content: left;
    align-items: center;

    .featureIcon {
      color: $colour-text;
      margin-right: 0.5em;
    }
  }

  p {
    margin-top: 0;
    overflow-wrap: break-word;
  }
}

@media (min-width: 950px) {
  // See Home.scss, when it's 2 columns we want some more spacing between the texts.
  .feature {
    p {
      width: 90%;
    }
  }
}
