.feature {
  width: 100%;
  text-align: left;
  margin-right: 2em;

  .featureHeader {
    display: flex;
    justify-content: left;
    align-items: center;

    .featureIcon {
      height: 2em;
      width: 2em;
      margin-right: 1em;
    }
  }

  p {
    margin-top: 0;
    overflow-wrap: break-word;
  }
}
