@import 'vars';

.logOut, .logOutIcon {
  // TODO: Does this look OK on other screens?
  height: 24px;
}

.logOut:hover {
  cursor: pointer;
}

.logOutIcon {
  transition: color 100ms ease;
  color: $colour-button;
  &:hover {
    color: $colour-button-hover;
  }
}
