@import './Colours.scss';

.navbar {
  background: $colour-background-secondary;
  background: linear-gradient(180deg, $colour-background-secondary 0%, $colour-background-secondary 85%, $colour-background 100%);
  margin-bottom: 2em;

  img {
    height: 3em;
    border-radius: 50%;
  }

  .navbarTitle {
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      // Overwrite style from a because this will be inside of one.
      color: white;
    }

    img {
      margin-right: 1em;
    }
  }

  .navbarLinks {
    display: flex;
    justify-content: center;
    align-items: center;

    > * {
      margin-right: 2em;
    }

    .invisible {
      display: none;
    }

    .userInfo {
      display: flex;
      justify-content: center;
      align-items: center;

      .userName {
        font-weight: bold;
      }

      p {
        margin-left: 0.5em;
      }
    }
  }
}
