@import 'vars';

// Idea from https://stackoverflow.com/a/28986779/6396652
@mixin setNavBarSpacing($spacing) {
  .navbar {
    .navbarTitle {padding-left: $spacing;}
    .navbarLinks > * {margin-right: $spacing;}
  }
}

.MuiPaper-root, .MuiPaper-root .MuiMenuItem-root {
  // The drawer.
  color: $colour-text;
  background-color: $colour-background;
}

@include setNavBarSpacing($spacing: 4em);
.navbar {
  background: $colour-background-secondary;
  background: linear-gradient(180deg, $colour-background-secondary 0%, $colour-background-secondary 85%, $colour-background 100%);
  margin-bottom: 2em;
  padding-top: 1em;
  padding-bottom: 1em;

  .navbarTitle {
    display: flex;
    justify-content: left;
    align-items: center;

    .drawerOpener {
      position: absolute; // For whatever reason this means we render on the right side.
      right: 0.5em;
    }

    .botAvatar {
      margin-right: 1em;
    }

    h1 {
      // Overwrite style from a because this will be inside of a Link which applies the global <a> styling.
      color: $colour-text;
      margin: 0;
    }
  }

  .navbarLinks {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

@media (max-width: 1300px) {@include setNavBarSpacing($spacing: 2em)}
@media (max-width: 1050px) {@include setNavBarSpacing($spacing: 1em)}
@media (max-width: 900px) {@include setNavBarSpacing($spacing: 5px)}
@media (max-width: $mui-breakpoint-sm) {.navbar {margin-bottom: 0}}
