@import 'vars.module';

.settings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .channelSettings {
    align-self: flex-start;
    max-width: 25em;
    background-color: $colour-background-secondary;
    border-radius: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 1em;

    .channelSettingsGuild {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        margin-right: 1em;
      }
    }
    .channelSettingsChannel {
      color: $colour-text-secondary;
      h3 {
        margin-top: 0;
      }
    }
    //.channelSettingsSettings {}
    //.channelSettingsButtons {}
  }

  .MuiRadio-colorSecondary {
    // Unselected radio buttons
    color: $colour-outline;
  }

  .material-icons, .MuiRadio-colorSecondary.Mui-checked {
    // Icons and radio buttons
    color: $colour-highlight;
  }

  .MuiInputBase-input {
    // Launch mentions
    color: $colour-text;
  }

  .MuiFormLabel-root {
    // "Launch Mentions"
    color: $colour-text-secondary;
  }
}
