@import 'vars.module';

.settings {
  .guild {
    border-style: solid;
    border-radius: 1em;
    border-color: $colour-background-secondary;
    margin-top: 0.5em;
    margin-bottom: 0.5em;

    .guildHeader{
      margin-top: 0.5em;
      margin-bottom: 0.5em;

      .guildIcon {
        border-radius: 50%;
        width: 5em;
        margin-right: 1em;
      }

      .guildName {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
      }
    }

    .channelGrid {
      background-color: $colour-background-secondary;
      // Centers it with space at bottom
      margin: 0 auto 1em;
      border-radius: 1em;
      width: 75%;

      .launchMentionsInput {
        // Space at bottom when screen width is small
        margin-bottom: 1em;
        margin-left: 0.5em;
        margin-right: 0.5em;
      }

      .radioButton {
        margin-left: 0;
        margin-right: 0.5em;
      }
    }
  }

  .MuiRadio-colorSecondary {
    color: $colour-outline;
  }

  .material-icons, .MuiRadio-colorSecondary.Mui-checked {
    color: $colour-highlight;
  }

  .MuiInput-input[type="text"] {
    color: $colour-text;
  }

  .MuiFormLabel-root {
    color: $colour-outline;
  }
}
