@import 'vars.module';

.settings {
  width: 75%;
  margin: auto;

  .guild {
    .guildHeader{
      margin-top: 0.5em;
      margin-bottom: 0.5em;

      .guildIcon {
        margin-right: 1em;
      }

      .guildName {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
      }
    }

    .channelGrid {
      background-color: $colour-background-secondary;
      margin-bottom: 1em;
      border-radius: 1em;

      .launchMentionsInput {
        margin: 1em 0.5em;
      }

      .radioButton {
        margin-left: 0;
        margin-right: 0.5em;
      }
    }
  }

  .MuiRadio-colorSecondary {
    // Unselected radio buttons
    color: $colour-outline;
  }

  .material-icons, .MuiRadio-colorSecondary.Mui-checked {
    // Icons and radio buttons
    color: $colour-highlight;
  }

  .MuiInputBase-input {
    // Launch mentions
    color: $colour-text;
  }

  .MuiFormLabel-root {
    // "Launch Mentions"
    color: $colour-text-secondary;
  }
}

@media (max-width: $mui-breakpoint-sm) {
  .settings {
    width: 100%;
  }
}
