.userInfo {
  display: flex;
  justify-content: center;
  align-items: center;

  .userName {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0.5em;
  }
}

.invisible {
  display: none;
}

.avatarImgSmall {
  height: 2em;
}

.MuiPaper-root, .MuiPaper-root .MuiMenuItem-root {
  // The drawer.
  .avatarImgSmall {
    margin-right: 1em;
  }
}
