$colour-text: #FFFFFF;
$colour-text-secondary: rgb(155, 157, 159);
$colour-highlight: #7289DA;
$colour-button: #F50057;
$colour-button-hover: #C51162;
$colour-background: #2C2F33;
$colour-background-secondary: #393E43;
$colour-outline: #686D73;
$colour-discord-purple: #5865F2;

$mui-breakpoint-sm: 600px;
