// Required for material-ui to work properly.
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
// Required for material-ui <Icon> component to work.
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// CSS here should only be for images (since material-ui doesn't have an image component to pass {classes} to.

.launchPatch {
    width: 10em;
}

.guildIcon {
    border-radius: 50%;
    width: 5em;
    margin-right: 1em;
}
