@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')

*
    color: #8f8f8f

body
    background-color: #101010
    margin: auto
    width: 75vw
    text-align: center
    font-family: Roboto, serif
    word-wrap: break-word

//@media only screen and (max-width: 1000px)
//    body
//        width: 100vw
